.home {
  flex: 1 1 auto;
  background: none !important;
}

.home__title {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
}

.text p {
  font-size: 1.6rem;
}

.typing p {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  animation: typing 2.5s steps(40, end);
  animation-fill-mode: forwards;
  font-size: 1.6rem;
}

.typing p:nth-child(1) {
  width: 79%;
}

.typing p:nth-child(2) {
  width: 88%;
  animation-delay: 2.5s;
}

.typing p:nth-child(3) {
  width: 78%;
  animation-delay: 5s;
}

.typing p:nth-child(4) {
  width: 100%;
  animation-delay: 7.75s;
}

.visible {
  margin-top: 10%;
  display: flex;
  width: 100%;
  height: 60%;
}

.notVisible {
  display: none;
}

.pokedex__levitation {
  height: 60%;
  position: relative;
  left: 40%;
  top: 20%;
  animation: opacity 2s ease-in, levitation 2s steps(4, end) infinite;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 2;
}

.pokedex__shadow {
  position: relative;
  width: 350px;
  height: 80px;
  background: rgb(150, 150, 150);
  z-index: 1;
  border-radius: 50%;
  animation: opacity 0.1s ease-in, shadow 2s steps(4, end) infinite;
  animation-fill-mode: forwards;
  opacity: 0;
  top: 42%;
  left: 23%;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shadow {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes levitation {
  0% {
    top: 0;
  }
  50% {
    top: 7%;
  }
  100% {
    top: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid rgb(0, 0, 0);
  }
  100% {
    opacity: 1;
    border: none;
  }
}
